@import "../../../styles/variables";

/* extra specificity needed. */
fieldset.filters {
  padding-left: 2rem;
  width: 100%;

  & .radioGroup {
    display: flex;
    justify-content: center;
  }
}

@media (--below-medium-viewport) {
  fieldset .radioGroup {
    flex-direction: column;
    align-items: flex-start;
  }
}
