:root {
  --black: #000;
  --white: #fff;
  --blue-grey: #596778;
  --medium-grey: #b9c0cb;
  --light-grey: #f5f5f5;
  --grad-wide-green: #00b385;
  --grad-medium-green: color(var(--grad-wide-green) blend(var(--grad-wide-blue) 15%));
  --grad-narrow-green: color(var(--grad-wide-green) blend(var(--grad-wide-blue) 30%));
  --grad-narrow-blue: color(var(--grad-wide-green) blend(var(--grad-wide-blue) 30%));
  --grad-medium-blue: color(var(--grad-wide-blue) blend(var(--grad-wide-blue) 15%));
  --grad-wide-blue: #3289e1;
  --yellow: #ffc107;
  --color-theme-hover: #2286ec;
  --color-text-default: var(--blue-grey);
  --color-background: var(--white);
  --color-box-shadow: rgba(0, 0, 0, 0.15);
}

/* < 480px */
@custom-media --below-small-viewport (max-width: 29.9375em);

/* >= 480px */
@custom-media --above-small-viewport (min-width: 30em);

/* < 768px */
@custom-media --below-medium-viewport (max-width: 47.9375em);

/* >= 768px */
@custom-media --above-medium-viewport (min-width: 48em);

/* < 1024px */
@custom-media --below-large-viewport (max-width: 63.9375em);

/* >= 1024px */
@custom-media --above-large-viewport (min-width: 64em);
